<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="$lang$"
  xml:lang="$lang$"
  $if(dir)$
  dir="$dir$"
  $endif$
>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content="pandoc" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$ $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$ $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$ $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <style>
      $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$ $for(header-includes)$ $header-includes$ $endfor$ $if(math)$
    $if(mathjax)$
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    $endif$ $math$ $endif$
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    $for(include-before)$ $include-before$ $endfor$ $if(title)$
    <header id="title-block-header">
      <h1 class="title article-title">$title$</h1>
      $if(lead)$
      <div class="header-box">
      $if(lead)$
      <div class="lead-container header-block-container">
      <h3 class="lead-title header-title">$if(multipleLeads)$Project Leads$else$Project Lead$endif$</h3>
      <div class="lead-units-container header-flex-units-container">
      $for(lead)$
      <div class="lead-item header-flex-item ">
      <p class="lead-name header-name">$lead.name$</p>
      <p class="lead-designation header-designation">$lead.designation$</p>
      </div>
      $endfor$
      </div>
      </div>
      $endif$
      $if(intern)$
      <div class="intern-container header-block-container">
      <h3 class="intern-title header-title">$if(multipleInterns)$Project Interns$else$Project Intern$endif$</h3>
      <div class="intern-units-container header-flex-units-container">
      $for(intern)$
      <div class="intern-item header-flex-item ">
      <p class="intern-name header-name">$intern.name$</p>
      <p class="intern-quarter header-designation">$intern.quarter$</p>
      </div>
      $endfor$
      </div>
      </div>
      $endif$
      </div>
      $endif$
    </header>
    $endif$ $if(toc)$
    <nav id="$idprefix$TOC" role="doc-toc">
      $if(toc-title)$
      <h2 id="$idprefix$toc-title">$toc-title$</h2>
      $endif$ $table-of-contents$
    </nav>
    $endif$ $body$ $for(include-after)$ $include-after$ $endfor$
    <footer class="footer"><div>© Center for Spatial and Textual Analysis, Stanford University</div></footer>
  </body>
</html>
