@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600;8..60,700&display=swap");

$font-family-serif: "Source Serif 4", serif;
$stanford-digital-red: #b1040e;
$stanford-digital-red-light: #e50808;
$stanford-digital-red-dark: #820000;

$stanford-digital-blue: #006cb8;
$stanford-digital-blue-light: #6fc3ff;
$stanford-digital-blue-dark: #00548f;

$stanford-digital-green: #008566;
$stanford-digital-green-light: #1aecba;
$stanford-digital-green-dark: #006f54;

$stanford-palo-alto: #175e54;
$stanford-palo-alto-light: #2d716f;
$stanford-palo-alto-dark: #014240;

$stanford-fog: #dad7cb;
$stanford-fog-light: #f4f4f4;
$stanford-fog-dark: #b6b1a9;

$stanford-stone: #7f7776;
$stanford-stone-light: #d4d1d1;
$stanford-stone-dark: #544948;

$stanford-brick: #651c32;
$stanford-brick-light: #7f2d48;
$stanford-brick-dark: #42081b;

$stanford-black-100: #2e2d29;
$stanford-black-90: #43423e;
$stanford-black-80: #585754;
$stanford-black-70: #6d6c69;
$stanford-black-60: #767674;
$stanford-black-50: #979694;
$stanford-black-40: #ababa9;
$stanford-black-30: #c0c0bf;
$stanford-black-20: #d5d5d4;
$stanford-black-10: #eaeaea;
$stanford-black-5: #f0f0f0;

$red: $stanford-digital-red;
$blue: $stanford-digital-blue;
$green: $stanford-digital-green;

$primary: $red;
$link-color: $stanford-digital-blue-dark;
$font-family-sans-serif: "Source Sans 3", sans-serif;

/*-- scss:defaults --*/

/*-- scss:rules --*/
$header-height: 30px;
.header-above-navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  color: $white;
  background-color: $stanford-digital-red-dark;
  z-index: 1030; /* Make sure the header is above the navbar */
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

$header-padding-left: 4em;
$header-padding-right: 4em;

.header-above-navbar p {
  font-family: $font-family-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding-left: $header-padding-left;
}

#quarto-header > nav {
  margin-top: $header-height;
  padding-left: $header-padding-left;
  padding-right: $header-padding-right;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-nav {
  margin-left: auto;
}

.me-auto {
  margin-right: 3em !important;
}

.hide-title .title-block {
  display: none;
}

// Template

.article-title {
  font-family: $font-family-serif;
  color: $stanford-digital-red-dark;
  margin-bottom: 30px;
}

.header-title {
  font-size: 0.9em;
  color: $stanford-palo-alto;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0.5em;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 60px; // Adjust this to control the length of the long line
    border-top: 3px solid $stanford-stone-light;
  }

  &::after {
    content: "";
    position: absolute;
    left: 62px; // Start after the long line
    bottom: -5px;
    height: 2px;
    width: 20px; // Adjust this to control the length of the dotted line
    border-top: 3px dotted $stanford-stone-light;
  }
}

.header-name {
  font-size: 1.2em;
  margin: 0px;
  font-family: $font-family-serif;
}

.header-designation {
  margin: 0px;
  color: $stanford-stone;
  font-weight: 500;
  font-size: 0.9em;
}

.header-box {
  border-bottom: 2px solid $stanford-black-10;
  margin-bottom: 1em;
  display: flex;
}

.header-block-container {
  margin-bottom: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.lead-container {
  border-right: 2px dotted $stanford-black-10;
  margin-right: 10px;
}

.header-flex-units-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-flex-item {
  flex: 1;
  background-color: $stanford-fog-light;
  width: calc(100% - 10px);
  min-width: 200px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .header-box {
    flex-direction: column;
  }
  .header-block-container {
    width: 100%;
  }

  .lead-container {
    border-right: none;
    margin-right: 0;
  }

  .lead-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.anchored .section-author {
  font-style: italic;
  font-size: 0.8em;
  font-family: $font-family-serif;
  color: $stanford-stone;
}

.nav-link .section-author {
  display: none;
}

.custom-listing-item {
  text-decoration: none;
  color: $stanford-black-100;
}

.custom-listing-item .item-container {
  border-bottom: 1px solid $stanford-black-10;
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.custom-listing-item .item-container:hover .text-container .listing-title {
  color: $stanford-digital-red-dark;
}

.custom-listing-item .text-container {
  width: 70%;
  padding-right: 20px;
}

.custom-listing-item .listing-img-container {
  width: 30%;
}

.custom-listing-item .listing-img-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.custom-listing-item .text-container .listing-title {
  font-size: 1.2em;
  font-family: $font-family-serif;
  color: $stanford-black-100;
  margin-bottom: 0;
}

.custom-listing-item .text-container .listing-authors {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $stanford-stone;
  margin-bottom: 10px;
}

.custom-listing-item .text-container .listing-description {
  font-size: 0.9em;
  color: $stanford-black-80;
}

.footer {
  text-align: center;
  background-color: $stanford-black-10;
  padding: 50px 0px;
}
